.product-carousel {
  width: 100%;
  margin: 20px auto;
  padding-block: 10px;
  max-width: 80%;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 2px solid black;
}

.slick-dots li button:before {
  font-size: 14px;
  margin-top: 40px;
  color: #000000;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.slide-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.slide-item:nth-child(odd) {
  background-color: #1a1a1a;
}

.sd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center; /* Para centrar el texto */
}

.img-carrousel {
  width: 50%;
  margin-bottom: 20px;
  display: block;
}

.slide-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.slide-caption h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #e2e0e0;
}

.slide-caption p {
  margin: 5px 0 0;
  font-size: 1rem;
  color: #d4d4d4;
}

.img-content-car {
  display: flex;
  justify-content: center;
}

.subtite-carrousel {
  font-size: 2rem !important;
  font-weight: 100 !important;
  color: red !important;
}

@media (max-width: 768px) {
  .product-carousel {
    width: 100%;
    margin: 30px auto;
    padding-block: 100px;
    max-width: 90%;
    background-color: #1a1a1a;
    border-radius: 8px;
    border: 2px solid black;
  }
  .img-carrousel {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
  .slide-caption {
    padding: 50px;
    border-radius: 0px;
  }

  .slide-caption p {
    text-align: center;
  }
  .slide-item {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 500px;
    font-size: 24px;
    background-color: #918b8a;
  }
  .slick-arrow {
    display: none !important;
  }
}
