.NavBar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.container-products {
  background-color: #dbd805;
}

.filter-category {
  width: 80%;
  margin: auto;
  border-radius: 16px;
  background-color: #e67e22;
  height: 90px;
  color: #bb2626;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  border: 1px solid black;
}

.filter-category button {
  padding: 12px 20px;
  font-size: 1.2rem;
  color: rgb(252, 252, 252);
  border: 1px solid rgb(0, 0, 0) !important;
  background-color: #188132 !important;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-inline: 12px;
}

.filter-category button.active {
  padding: 12px 20px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  background-color: #333 !important;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-inline: 12px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.411);
}

.filter-category button:hover {
  background-color: #e67e22;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.534);
}

.card-container-product {
  overflow: hidden;
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-title {
  margin-left: 72px !important;
  margin: 0px 10px;
  font-size: 1.5rem;
}

.filter-title-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 80px;
  margin-left: 120px;
}
.icono {
  margin: 0px;
  padding: 0px;
}

/* product.css */

.cnt {
  margin-top: 20px;
}

.filter-title svg {
  margin-left: 10px;
}

.filter-category {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.filter-category button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.filter-category .active {
  background-color: #d0d0d0;
}

.mobile-filter {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.mobile-filter input {
  padding: 10px 50px;
  margin-right: 10px;
  margin-bottom: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .filter-title {
    margin: 0px 6px 0px;
    margin-left: 0px !important;
    color: #222222;
  }
  .filter-category {
    display: none;
  }

  .mobile-filter {
    display: flex;
    margin-bottom: 40px;
  }

  .filter-title-container {
    margin-left: 50px;
  }
  .select {
    border: 1px solid black;
    border-radius: 30px;
    height: 53px;
    width: 90%;

    font-size: 1.5rem;
    text-align: center;
    background-color: #188132;
    color: white;
  }
}
