.NavBar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.container-products {
  background-color: #f1f10d;
}
.product-carousel {
  width: 90%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid black;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #000000;
}

.slick-dots li.slick-active button:before {
  color: #fafafa;
}
.slick-arrow {
  color: #fafafa !important;
}
.slick-prev {
  color: #ffffff !important;
}
.slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: #ff6347;
  font-size: 24px;
  border-radius: 10px;
}

.slide-item:nth-child(odd) {
  background-color: #ffa07a;
}

.slide-item:nth-child(even) {
  background-color: #ff6347;
}

/* filter  */

.filter-category {
  width: 90%;
  margin: auto;
  border-radius: 16px;
  background-color: #e67e22;
  height: 90px;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  border: 1px solid black;
}

.filter-category button {
  padding: 12px 20px;
  font-size: 1.2rem;
  color: rgb(252, 252, 252);
  border: 1px solid rgb(0, 0, 0);
  background-color: #188132;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-inline: 12px;
}

.filter-category button.active {
  padding: 12px 20px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  background-color: #f39c12;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-inline: 12px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.411);
}

.filter-category button:hover {
  background-color: #e67e22;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.534);
}

/* cardsContainer */

.card-container-product {
  overflow: hidden;
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}
.filter-title {
  margin: 12px 80px;
}

.filter-title-container {
  margin-top: 80px;
}
