.nav-container {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 16px;
  color: #fff;
  font-size: 1.6rem;
  z-index: 2;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.link-a {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin: 30px;
  transition: color 0.3s ease;
  /*  border: 1px solid white; */
  width: 100%;
}

.parraf-nav {
  margin: 0 15px;
}
.link-a:hover {
  color: #f39c12;
}
.svg-inline--fa {
  margin: 0px;
  width: 1.6rem;
  padding: 0px;
}

.links-h {
  margin-top: 30px;
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
}
.price-container {
  width: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
 

}

@media (max-width: 600px) {
  .links-h {
    width: 85%;
  }
  .nav-container {
    font-size: 1.1rem;
    margin: 0px;
    width: 100%;
    padding-inline: 20px;
  }
  .container-principal {
    max-width: 100vw;
    display: block;
    overflow: hidden;
  }
  .main-container {
    display: block;
    overflow: hidden;
  }
  .header-container {
    height: 98vh;
    background-color: #dbd805;
  }

  .parraf-nav {
    margin: 0px;
    padding: 0px;
  }
  .link-a {
  }
  .icon-nav {
    font-size: 1rem;
  }
}

/* PRESTATIONS */

@media (max-width: 600px) {
  svg {
    position: relative;
    display: block;
    width: 200%;
    height: 100px;
    transform: rotateY(180deg);
    overflow: hidden;
    margin-bottom: -1px;
  }
}


/* MENUS */

@media (max-width: 600px) {
  .container-cards-menus {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }

  .highlighted-container::before {
    background-color: #dbd805;
  }

  .highlighted-container {
    margin: 0px;
  }
}
