:root {
  --margin-nav: 40px; /* 40px sigue siendo múltiplo de 8 */
}

.nav-container {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 16px; /* Múltiplo de 8 */
  color: #fff;
  font-size: 1.6rem;
  z-index: 2;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.link-a {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin: 32px;
  transition: color 0.3s ease;
  width: 100%;
}

.parraf-nav {
  margin: 0 16px;
}

.link-a:hover {
  color: #f39c12;
}

.svg-inline--fa {
  margin: 0px;
  width: 1.6rem;
  padding: 0px;
}

.links-h {
  margin-top: 32px; 
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 32px; 
}

.price-container {
  width: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (max-width: 600px) {
  .links-h {
    width: 90%;
    padding: 0px;
  }
  
  .nav-container {
    font-size: 1.1rem;
    margin: 0px;
    width: 100%;
    padding-inline: 0px;
  }

  .parraf-nav {
    margin: 0px;
    padding: 0px;
  }

  .icon-nav {
    font-size: 1rem;
  }

  .link-a {
    margin: 0px;
    padding: 16px 8px; 
  }
}


