/* Servicios */
.nuestro-servicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100vw;
  background-color: var(--color-secundario);
}

/* shape */

.shape-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}
svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  transform: rotateY(180deg);
  overflow: hidden;
  margin-bottom: -1px;
}
.shape-fill {
  fill: var(--color-principal);
}

.servicio-text-container {
  margin-block: 40px;
}

.servicio-text-container h3 {
  color: rgb(255, 255, 255) !important;
  font-size: 2.1rem;
}

/* title  */
.servicio-text-container h2,
.servicio-text-container h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 0;
  color: #f7f6f6;
  font-size: 2.7rem;
}
/* parrafo prestation */
.servicio-text-container p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #161313;
}

.servicio-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.servicio-img-container article {
  flex: 1;
  max-width: 300px;
  margin: 20px;
  margin-inline: 30px;
  text-align: center;
}

.img-servicio {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* title ilustraciones */
.servicio-img-container h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  margin: 10px 0;
}

.servicio-img-container p {
  font-size: 1.1rem;
  color: #161313;
}

@media (max-width: 600px) {
  svg {
    position: relative;
    display: block;
    width: 200%;
    height: 100px;
    transform: rotateY(180deg);
    overflow: hidden;
    margin-bottom: -1px;
  }
}
