/* Paso 1: Definir la fuente con @font-face */
@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("./img/font/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf\ PERSONAL\ USE.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  max-width: 100% !important;
}

@media (max-width: 600px) {

  .main-container {
    display: block;
    overflow: hidden;
  }

  .container-header {
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .container-text-header {
    padding: 0px;
    padding-inline: 20px;
  }

  .container-text-header h1 {
    font-size: 2rem; 
    margin-top: 0px;
  }
  .container-img-header {
    width: 90%;
    max-width: 100%;
  }

  .img-header {
    width: 100%;
    object-fit: contain; 
    max-width: 100%; 
  }

  .images-services {
    flex-direction: column;
  }

  .nuestro-servicio-container {
    padding-inline: 20px;
  }

  .container-img-service {
    flex-direction: column;
  }

 

  .container-customers {
    display: flex;
    flex-direction: column-reverse;
    padding-inline: 20px;
    margin: 0px;
    margin-bottom: 0px;
  }

  .img-container-customers {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .text-container-customers {
    width: 90%;
    margin: 20px;
  }

  .img-customer img {
    width: 100%;
    border-radius: 18px;
  }

  .img-customer-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .img-customer-2 div {
    flex: 1;
    margin: 0 5px;
  }

  .img-customer-2 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }

  .text-container-customers {
    padding: 0px;
  }

  .client-card {
    width: 100%;
    padding: 25px;
    border-radius: 18px;
    background-color: #333;
  }
  .card-client-container {
    display: flex;
    width: 100%;
  }
  .avatar {
    width: 80px;
    height: 80px;
    background-color: #666;
    border-radius: 50%;
    overflow: hidden;
  }
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .client-card h3 {
    color: #fff;
    margin: 0px;
    padding: 0px;
  }
  span {
    color: #f8f8f8;
    padding: 0px;
    margin: 0px;
  }
  .avatar-text {
    display: flex;
    align-items: center;
  }

  .text {
    margin-left: 25px;
  }
  .parrafo-client {
    color: #fff;
    margin-top: 20px;
  }

  .parrafo-client p {
    color: #fff;
    margin: 0px;
    padding: 0px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: auto;
    margin-top: 80px;
    padding: 40px;
  }
}
